#main-play-area {
    background-image: url("images/background2.png");
    width: 1600px;
    height: 1000px;
}

#myCanvas {
    width: 1600px;
    height:600px;
}

div {
    cursor:crosshair;
    color: aquamarine;
}

.target {
    width: 30px;
    height: 30px;

}