
#main-play-area {
    background-image: url("images/background2.png");
    width: 1602px;
    height: 1002px;
}

#myCanvas {
    width: 1000px;
    height:600px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #63fdd8;
}

#score {
    position: absolute;
    right: 610px;
}

div {
    cursor:crosshair;
    color: aquamarine;
}


